<?xml version="1.0" encoding="UTF-8"?>
<svg width="500px" height="500px" viewBox="0 0 500 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="assymetrical">
    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
    <title>cocktails</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="cocktails" transform="translate(-1.000000, 0.000000)" fill-rule="nonzero" fill="#000000">
            <g id="Layer_1">
                <path d="M387.34082,0 C332.463867,0 286.548828,39.1035156 275.991211,90.9091797 L23.7041016,90.9091797 C14.5097656,90.9091797 6.22265625,96.4482422 2.70507812,104.942383 C-0.811523438,113.436523 1.13574219,123.213867 7.63867188,129.711914 L182.794922,304.766602 L182.794922,454.544922 L114.560547,454.544922 C102.008789,454.544922 91.8330078,464.720703 91.8330078,477.272461 C91.8330078,489.824219 102.008789,500 114.560547,500 L296.484375,500 C309.036133,500 319.211914,489.824219 319.211914,477.272461 C319.211914,464.720703 309.036133,454.544922 296.484375,454.544922 L228.25,454.544922 L228.25,304.766602 L324.634766,208.439453 C343.072266,220.689453 364.700195,227.272461 387.34082,227.272461 C450,227.272461 500.976562,176.295898 500.976562,113.636719 C500.976562,50.9775391 450,0 387.34082,0 Z M205.522461,263.216797 L78.5947266,136.364258 L332.449219,136.364258 L205.522461,263.216797 Z M387.34082,181.818359 C376.986328,181.818359 366.988281,179.518555 357.917969,175.174805 L403.407227,129.712891 C409.910156,123.212891 411.857422,113.4375 408.338867,104.943359 C404.822266,96.4492187 396.53418,90.9101562 387.339844,90.9101562 L323.067383,90.9101562 C332.449219,64.4589844 357.710938,45.4560547 387.339844,45.4560547 C424.935547,45.4560547 455.521484,76.0419922 455.521484,113.637695 C455.521484,151.233398 424.935547,181.818359 387.34082,181.818359 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>
