<?xml version="1.0" encoding="UTF-8"?>
<svg width="60px" height="55px" viewBox="0 0 60 55" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
    <title>Shape</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop-HD-Copy-4" transform="translate(-1306.000000, -221.000000)" fill-rule="nonzero" fill="#FFFFFF">
            <path d="M1357.86891,231.782351 L1353.75017,231.782351 L1353.96776,224.266355 C1353.99239,223.414556 1353.80386,222.583026 1353.44636,221.966134 C1353.08887,221.349243 1352.59306,221 1352.07514,221 L1310.39097,221 C1309.87273,221 1309.37723,221.349243 1309.01974,221.966134 C1308.66224,222.583546 1308.47371,223.414556 1308.49834,224.266355 L1309.33965,253.309633 C1309.54745,260.48678 1312.21885,266.52577 1315.9722,269.2693 L1307.89484,269.2693 C1306.84857,269.2693 1306,270.665752 1306,272.387539 C1306,274.109327 1306.84857,275.505778 1307.89484,275.505778 L1354.83844,275.505778 C1355.8847,275.505778 1356.73327,274.109327 1356.73327,272.387539 C1356.73327,270.665752 1355.8847,269.2693 1354.83844,269.2693 L1346.49421,269.2693 C1349.53669,267.044956 1351.86607,262.654996 1352.75033,257.247969 L1357.86891,257.247969 C1362.13513,257.247969 1365.60616,251.535875 1365.60616,244.51516 C1365.60616,237.494445 1362.13513,231.782351 1357.86891,231.782351 Z M1341.94534,264.617927 L1320.52107,264.617927 C1316.56213,264.617927 1313.31343,259.520126 1313.1249,253.012361 L1312.37833,227.235439 L1350.08777,227.235439 L1349.34152,253.012361 C1349.15298,259.520126 1345.90429,264.617927 1341.94534,264.617927 Z M1357.86891,251.011491 L1353.1934,251.011491 L1353.56984,238.012073 C1353.59795,238.014151 1353.62574,238.018829 1353.65416,238.018829 L1357.86891,238.018829 C1360.04576,238.018829 1361.81648,240.932823 1361.81648,244.51516 C1361.81648,248.097497 1360.04576,251.011491 1357.86891,251.011491 Z" id="Shape"></path>
        </g>
    </g>
</svg>