<?xml version="1.0" encoding="UTF-8"?>
<svg width="735px" height="500px" viewBox="0 0 735 500" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
    <title>cutlery</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="cutlery" fill-rule="nonzero" fill="#000000">
            <g id="Group">
                <path d="M511.55,134.076562 C506.40625,138.00625 505.421875,145.360938 509.351562,150.503125 C531.345313,179.289062 542.96875,213.695312 542.96875,250 C542.96875,340.464062 469.370312,414.0625 378.90625,414.0625 C288.442187,414.0625 214.84375,340.464062 214.84375,250 C214.84375,159.535938 288.442187,85.9375 378.90625,85.9375 C415.210938,85.9375 449.617187,97.5609375 478.404687,119.55625 C483.545313,123.485937 490.901562,122.501562 494.83125,117.357812 C498.760937,112.215625 497.776562,104.860937 492.632812,100.93125 C459.725,75.7890625 420.398437,62.5 378.90625,62.5 C275.51875,62.5 191.40625,146.6125 191.40625,250 C191.40625,353.3875 275.51875,437.5 378.90625,437.5 C482.29375,437.5 566.40625,353.3875 566.40625,250 C566.40625,208.507812 553.117188,169.18125 527.975,136.275 C524.046875,131.132812 516.69375,130.146875 511.55,134.076562 Z" id="Shape"></path>
                <path d="M378.90625,0 C241.05625,0 128.90625,112.148438 128.90625,250 C128.90625,387.851562 241.05625,500 378.90625,500 C516.757812,500 628.90625,387.851562 628.90625,250 C628.90625,112.148437 516.757812,0 378.90625,0 Z M378.90625,476.5625 C253.979688,476.5625 152.34375,374.926562 152.34375,250 C152.34375,125.073438 253.979688,23.4375 378.90625,23.4375 C503.832812,23.4375 605.46875,125.073437 605.46875,250 C605.46875,374.926562 503.832812,476.5625 378.90625,476.5625 Z" id="Shape"></path>
                <path d="M105.46875,0 C98.996875,0 93.75,5.2453125 93.75,11.71875 L93.75,109.375 L70.3125,109.375 L70.3125,11.71875 C70.3125,5.2453125 65.065625,0 58.59375,0 C52.121875,0 46.875,5.2453125 46.875,11.71875 L46.875,109.375 L23.4375,109.375 L23.4375,11.71875 C23.4375,5.2453125 18.190625,0 11.71875,0 C5.246875,0 0,5.2453125 0,11.71875 L0,152.34375 C0,180.640625 20.1625,204.314063 46.875,209.757812 L46.875,488.28125 C46.875,494.754687 52.121875,500 58.59375,500 C65.065625,500 70.3125,494.754687 70.3125,488.28125 L70.3125,209.757812 C97.025,204.314063 117.1875,180.640625 117.1875,152.34375 L117.1875,11.71875 C117.1875,5.2453125 111.940625,0 105.46875,0 Z M58.59375,187.5 C39.2078125,187.5 23.4375,171.728125 23.4375,152.34375 L23.4375,132.8125 L93.75,132.8125 L93.75,152.34375 C93.75,171.728125 77.9796875,187.5 58.59375,187.5 Z" id="Shape"></path>
                <path d="M722.65625,0 C690.346875,0 664.0625,26.284375 664.0625,58.59375 L664.0625,273.4375 C664.0625,279.910937 669.307813,285.15625 675.78125,285.15625 L710.9375,285.15625 L710.9375,488.28125 C710.9375,494.754687 716.182813,500 722.65625,500 C729.129687,500 734.375,494.754687 734.375,488.28125 L734.375,11.71875 C734.375,5.2453125 729.129687,0 722.65625,0 Z M710.9375,261.71875 L687.5,261.71875 L687.5,58.59375 C687.5,43.315625 697.296875,30.2828125 710.9375,25.4453125 L710.9375,261.71875 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>