  <div class="venue-spots hidden" id="create-spot-form">
  <h3>Create a spot in Venue</h3>

  <%= simple_form_for [@venue, @spot] do |f| %>
    <%= f.input :photo, as: :attachinary %>
    <%= f.input :name %>
    <%= f.submit 'create', class: "shiny-btn" %>
  <% end %>
  </div>

