

        <!-- <div class="col-xs-offset-3 col-xs-6" style="background-color: white; padding-bottom: 20px;"> -->



        <div class="container">
          <div class="show-card ">
          <div class="row ">
              <div class="col-xs-12 col-sm-6 col-sm-offset-3 title-spots" style="background-color: white; padding-bottom: 20px; border-radius: 5px; margin-top: 40px;" >

                <h3>Create a spot in Venue</h3>

                <%= simple_form_for [@venue, @spot] do |f| %>
                <%= f.input :photo, as: :attachinary %>
                <%= f.input :name %>
                <%= f.submit 'create', class: "shiny-btn" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>


