// .wrapper{
//     padding-left: 60px;
//     padding-right: 60px;

// }

// .venue_card_container{
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;
// }

// .body{
//   background-color: rgba(25, 22, 25, 0.94);
// }


.fixed-cards {
  overflow: scroll;
  height: 100vh;
}

.stream-entry-inner {
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  vertical-align: top;
  height: 480px;
  // width: 300px;
  margin-bottom: 20px;
}

.stream-image {
  background-position: 50%;
  background-size: cover;
  border-color: champagne-gold;
  height: 270px;
  position: relative;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card_description{
  position: absolute;
  bottom: -4px;
  left: 10px;
  background-color: white;
  border-radius: 3px;

  & > h4 {
    color: champagne-gold;
    margin-top: 5px;
    margin-bottom: 4px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.stream-body{
  height: 160px;
  border: 1px solid #D3D3D3;
  font-family: Open Sans;
  color: #A9A9A9;
  letter-spacing: .04em;
  // line-height: 22px;
  font-size: 14px;
  border-top: none;
  display: flex;
  flex-direction: column;
  // min-height: 110px;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  padding: 10px 20px;

  .stream-body-description {
    text-decoration: none;
    z-index: 10;
  }

  // & a {
  //   flex: 0 0 50px;
  //   padding: 0 20px;
  // }

  #heart {
    height: 50px;
    display: flex;
    align-items: center;
    border-left: 1px solid #D3D3D3;
  }

  .stream-body-bars {
    width: 100%;
  }
}

.stream-body2 {
  border: 1px solid #D3D3D3;
  font-family: Open Sans;
  color: #969696;
  border-top: none;
  display: flex;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  & span {
    flex: 1 0 auto;
  }

  & a {
    flex: 0 0 50px;
    padding: 0 20px;
    text-decoration: none;
  }

  & #heart {
    height: 50px;
    display: flex;
    align-items: center;
    border-left: 1px solid #D3D3D3;
  }
}

.slider-wrapper{
  // margin-left: 20px;
}

.sliders {
  // text-align:right;
  margin-right: 10px;
  text-align:left;
}

.img_progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 2px 0;

  .progress{
    height:10px;
    width: 100%;
    margin-bottom: 0;
    margin-left: 20px;
  }
}

// .img_format{
//   width: 20px;

// }

.venue-card-link{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  opacity: 0;
}







