// Boxes dashboard
.profile-box {
  border: 1px solid #dce0e0;
  background-color: #fff;
  border-radius: 3px;
  width: 100%;
}

.dashboard-box {
  border: 1px solid #dce0e0;
  background-color: #fff;
  border-radius: 3px;
  height: 650px;
}

.recommendations-box {
  border: 1px solid #dce0e0;
  background-color: #fff;
  border-radius: 3px;
  min-height: 200px;
  margin-top: 30px;
}


.profile-space {

  h2 {
    font-size: 25px;
  }
}

.edit-profile-btn {
  display: inline-block;
  background-color: $champagne-gold;
  border: 2px solid $champagne-gold;
  transition: all 0.5s ease;
  padding: 14px 30px 12px;
  margin: 20px 0;
  a{
    color: white;
    text-decoration: none;
  }
}
.edit-profile-btn:hover {
  background-color: #fff;
  border-color: $champagne-gold;
  a{
    color: $champagne-gold;
  }
}

.profile-details {
  padding: 20px;
  height: 645px;

  p{
    font-size: 15px;
  }

}


.unicorn-details {
  font-size: 20px;
  font-weight: bold;
}

.pref-loc {
  margin-top: 33px;
}


.recommendations {
  margin-top: 10px;
  padding: 20px;

}

.my-favorites{
  color: $champagne-gold;
}

.dashboard-scroll{
  height: 500px;
  overflow-y: scroll;
}

.dashboard-left {
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.wait {
  border: 1px solid #dce0e0;
  background-color: #fff;
  border-radius: 3px;
  height: 300px;
  width: 100%;
  background-color: white;
}
