.big-banner{
  width: 100vh

}

.banner {
  color: white;
  text-align: center;
  height: 75vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-image:
    radial-gradient(
      circle at bottom left,
      white,
      #fff 50%
    );
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 17px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.banner-text{
  // justify-content: space-around;
  // align-items: center;
  // background: rgba(0,0,0,.65);
  // width: 100%;
  // left: 50%;
  // top: 50%;
  font-family: "Quicksand", "Helvetica", "sans-serif";
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  height: 100%;
  justify-content: flex-end;
  z-index: 200;
  max-width: 115rem;
  padding: 0 1.5rem;
  width: 100%;
  margin-bottom: 100px;

  h1 {
    color: white;
    // color: rgba(255, 255, 255, 0.74);
    font-weight: 100;
    letter-spacing: 4.3px;
    margin-top: 12px;
  }
}

.venue-mood {
  border-radius: 3px;
  overflow: hidden;
  font-family: visuelt-reg,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  font-size: .6875rem;
  // letter-spacing: .05rem;
  line-height: 1;
  padding: 5px 7px 5px 7px;
  background: rgba(255, 207, 166, 0.72);

  // background: rgba(170,156,211,.8);

  p{
    letter-spacing: 4.3px;
    color: white;
    margin: 0px;
    text-align: center;

  }
}

.banner-content{
  margin: 0px;
}

.sub-banner{
  background: #fff;
  color: #404d57;
  padding: 1.625rem 0;
  align-items: center;
  display: flex;
  flex-flow: column;
  width: 100%;
}

.sub-banner-content{
  align-items: center;
  display: flex;
  max-width: 130rem;
  padding: 0 1.5rem;
  width: 100%;
  line-height: 34px;
  font-size: 20px;
}

.sub-banner-content-info{
  flex: 1;
}

.fa-map-marker{
  padding-left: 4px;
}

.extra-padding{
padding-left: 5px;
}

.top-title-show{
  text-align: center;
}

.bottom-title-show{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.socialrow {
  margin: auto;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content:space-around;
  margin-top: 16px;
  margin-bottom: 16px;
  // position: relative;

  a {
    text-decoration: none;
  }
}

.fav-loc{
  a {
    text-decoration: none;
    color: rgba(97, 88, 88, 0.81);;
  }

  span {
    color: rgba(97, 88, 88, 0.81);;
  }

  i {
     color: $peach  }
}

.sub-banner-content-booking{
  position: static;
  width: auto;

  top: 90%;
  display: flex;
  justify-content: center;
  left: 400px;
  position: fixed;
  transition: transform .48s;
  width: 100%;
  z-index: 300;
}

.btn-peach{
  background-color: #FFCFA6;
  color: white;
  padding: 0 2rem;
  height: 7.75rem;
  width: 22.75rem;
  font-size: 25px;
}

.socialrow .socialbutton {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 24px;
  background: white;
  border: 1px solid $champagne-gold;
}

.test {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-right {
  position: absolute;
  right: 16px;
  // change right to change margin on the side
}

.divider {
  width:45%;
  border-top: 1px solid #777777;
  height: 19px;
  margin-top: 10px;
}

.divider2{
  width: 100%;
  height: 19px;
  margin-top: 10px;
}

.logo-loca {
  display: inline-block;
  margin-top: 14px;
  margin-right: 13px;
}

// .ven-add {
//   float: right;
// }


.attachinary-input{
  margin: auto;
}

// #map {
//     width: 100%;
//     height: 374px;
// }

.show-card {
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid $champagne-gold;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}

.back-btn{
  background-color: $champagne-gold;
  a {
    color: white;
  }
}

.spot-card {
  width: 455px;
  height: 343px;
  position: relative;
  background-size: cover;
  transition: all 200ms ease-in;
  // margin-top: 30px;
}

.spot-card:hover{
    border: 1px solid $champagne-gold;
    // opacity: 0.4;
    transform: scale(1.25);
    z-index: 2;
  }

.title-spots h3 {
  margin-top: 6px;
  margin-bottom: 26px;
  color: $champagne-gold;
}

.spot-name {
  position: absolute;
  text-align: center;
  bottom: 0px;
  right: 0px;
  background-color: rgb(31, 29, 29);
  width: 100%;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.venue-name{
  color: white;
}

.gold-title{
  color: $champagne-gold;
}

.dashboard{
  height: 378px;
  overflow-x: scroll;
  margin-top: 7px;
}

.favoriterow{
  margin-bottom: 30px;
  margin-top: 30px;
  // border: 1px solid white;
  font-size: 20px;
}

// .socialbuttonicon {
//   max-height: 50%;
//   margin: auto;
//   display: block;
//   position: absolute;
//   top: 50%;
//   left: 0;
//   right: 0;
// }




