<h2 class="site-title">Shiny Unicorn // London, UK</h2>

<div class="social-btns">
  <a href="https://www.facebook.com" target="_blank">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
  <a href="https://www.instagram.com" target="_blank">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </a>
  <a href="mailto:info@shinyunicorn.co" target="_blank">
    <i class="fa fa-envelope" aria-hidden="true"></i></i>
  </a>
</div>
