<div class="venue-spots">
  <!-- form for admin -->
  <h4 class="gold-title"><strong>HOT SPOTS</strong></h4>

  <% render 'spots/spot-form' if current_user.admin %>

  <% unless @venue.spots.empty? %>
  <div class="venue-spot-photos">
    <% @venue.spots.each do |spot| %>
      <% if spot.photo %>
        <%= link_to cl_image_path(spot.photo.path) do %>
          <%= cl_image_tag spot.photo.path, style: "height: 200px;" %>
          <%= @spot.name %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% end %>
  <br>
  <button type="" value="Create a Spot in Venue" class="btn btn-primary" id="create-spot">Create spot</button>
</div>



<%= content_for :after_js do %>
<script>
  $('.venue-spot-photos').magnificPopup({
    delegate: 'a',
    type: 'image'
  });

</script>
<% end %>
