<<<<<<< HEAD
<!-- http://www.caever.com.au/ -->

<div class="wrapper">
  <div class="row">
    <div class="col col-md-12">
      <div class="stream-entry-inner">

      </div>
    </div>
  </div>
</div>














<div class="col-md-4">

      <div id="map" style="width: 100%; height: 100vh;"></div>

      <% content_for(:after_js) do %>
      <script>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      </script>
      <% end %>
    </div>
=======
<h1>Venues#index</h1>
<p>Find me in app/views/venues/index.html.erb</p>
>>>>>>> bf0a55bee0d65e0c7299e0e05ced649ee0444c9b
