<h1>Venues#show</h1>
<p>Find me in app/views/venues/show.html.erb</p>

<br>
<br>

  <div class="stream-body3">
    <div class="slider-wrapper">
      <div class="sliders first">
        <input id="ex9" type="text" />
      </div>
      <div class="sliders second">
        <input id="ex11" type="text" data-slider-handle="custom" data-slider-value="0"/>
      </div>
    </div>
  </div>




<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Add to Favorites
  <a href="#"><i class="fa fa-heart"></i></a>
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Find hidden magical date spots in your neighborhood</h4>
      </div>

      <div class="modal-body">

        <div class="login-btn facebook">
          <!-- <i class="fa fa-facebook" aria-hidden="true"></i> -->
          <%= link_to "Continue with Facebook", user_facebook_omniauth_authorize_path, class: "login-btn-txt" %>
        </div>
      </div>
    </div>
  </div>
</div>




