<h1>Venues#show</h1>
<p>Find me in app/views/venues/show.html.erb</p>

<br>
<br>

  <div class="stream-body3">
    <div class="slider-wrapper">
      <div class="sliders first">
        <input id="ex9" type="text" />
      </div>
      <div class="sliders second">
        <input id="ex11" type="text" data-slider-handle="custom" data-slider-value="0"/>
      </div>
    </div>
  </div>


  <div>
    <span>Add to Favorites</span>
    <a href="#"><i class="fa fa-instagram"></i></a>
  </div>

