.venue-wrapper {
  display: flex;
  padding: 50px 100px;
}
.venue-details {
  flex: 1;
  margin-right: 20px;
}
.venue-profile {
  background: #efefef;
  border-radius: 5px;
}
.venue-spot-photos {
  display: flex;
  // width: 100%;
  overflow-y: scroll;
  padding-bottom: 10px;

  a {
    max-width: 212px;
    padding: 5px;
    border: 1px solid #EFEFEF;
    border-radius: 2px;
    margin-right: 10px;
  }

  span {
    text-decoration: none;
    color: #222;
  }
}
.venue-booking {
  width: 500px;
  height: 350px;
  background: #efefef;
  padding: 30px;
  border-radius: 5px;
}
