<h3>Book a spot</h3>
<%= simple_form_for [@venue, @booking] do |f| %>
  <%= f.association :spot, collection: @venue.spots, :label_method => lambda { |spot|  spot.name }, prompt: "Select your spot" %>
  <%= f.input :date, as: :string, placeholder: "Select your date" %>
  <%= f.submit "Book", class: "shiny-btn" %>
<% end %>

<% content_for(:after_js) do %>
<script type="text/javascript">
  $(function () {
    $('input#booking_date').datetimepicker({
      sideBySide: true,
      format: "DD/MM/YYYY hh:mm"
    });
  });
</script>
<% end %>


