<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('bodega.png');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Bodega Negra</h2>
          <p>Booked on March 15th at 7:00PM</p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
