<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
      <div class="profile-space">
        <%= image_tag "unicorn-icon.svg", style: 'width: 100px; margin-top: 80px;', class: "user-img" %>
        <h2>Toddler Unicorn</h2>
        <div class="edit-profile-btn" style="margin: 20px 0; padding: 14px 40px 12px;;"><%= link_to 'Edit profile', edit_user_registration_path %></div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="profile-details">
        <p>Preferred Location:</p>
        <p>Shoreditch</p>
        <div class="my-favorites">
          <i class="fa fa-heart" aria-hidden="true"></i>
          <h4>My favorites</h4>
            <div class="row">
              <% current_user.venues.first(3).each do |venue| %>
                <%= render 'venues/venuecard', venue: venue %>
              <% end %>
            </div>
        </div>
      </div>
    </div>



    <!-- My bookings -->
    <!-- Shiny Unicorn's recommendations -->
  </div>
</div>
