/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  position: fixed;
  width: 300px;
  top: 10px;
  left: 50%;
  z-index: 2000;
  transform: translateX(-50%);
}
.alert-info {
  background: $brand-primary;
  border: none;
}
.alert-warning {
  background: $brand-danger;
  border: none;
}
