.form-wrapper {
  padding: 20px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid $champagne-gold;
  // line-height: 30px;

  h2 {
    margin-top: 0;
    color: $champagne-gold;
    text-align: center;
  }

  h1 {
    margin-top: 0;
    color: $champagne-gold;
    text-align: center;
  }
}

.btn-gold{
  background-color: $champagne-gold;
}
