
  <div class="title-spots" style=" padding-bottom: 20px; border-radius: 5px;" >
    <h4 class="gold-title">Add a Review</h4>
    <%= simple_form_for [@venue, @review] do |f| %>
      <%= f.input :hotness_level , label: "Hotness Level", class: 'flex-box-column', input_html: { class: "flex-box-column", data: { 'slider-min' => '1', 'slider-max' => '5', 'slider-step' => '1', 'slider-value' => '3', 'slider-handle' => 'custom'} }  %>
      <!-- <div class="form-group integer required review_hotness_level flex-box-column"><label class="control-label integer required" for="review_hotness_level"><abbr title="required">*</abbr> Hotness Level</label><div class="slider slider-horizontal" id=""><div class="slider-track"><div class="slider-track-low" style="left: 0px; width: 0%;"></div><div class="slider-selection" style="left: 0%; width: 50%;"></div><div class="slider-track-high" style="right: 0px; width: 50%;"></div></div><div class="tooltip tooltip-main top" role="presentation" style="left: 50%; margin-left: -11.5px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">3</div></div><div class="tooltip tooltip-min top" role="presentation"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div class="tooltip tooltip-max bottom" role="presentation" style="top: 18px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div class="slider-handle min-slider-handle custom" role="slider" aria-valuemin="1" aria-valuemax="5" aria-valuenow="3" tabindex="0" style="left: 50%;"></div><div class="slider-handle max-slider-handle custom hide" role="slider" aria-valuemin="1" aria-valuemax="5" aria-valuenow="1" tabindex="0" style="left: 0%;"></div></div><input class="form-control numeric integer required flex-box-column" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3" data-slider-handle="custom" type="number" step="1" name="review[hotness_level]" id="review_hotness_level" data-value="3" value="3" style="display: none;"></div> -->
      <%= f.input :description, as: :text %>
      <%= f.submit "Add a review", class: "shiny-btn" %>
    <% end %>
  </div>
</div>
<% content_for :after_js do %>
  <script>
    $('#review_hotness_level').bootstrapSlider();
  </script>
<% end %>x
